<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Free Restaurant catalogue for you">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffce6d"/>
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Good Food</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content >></a>
    
    <header class="header">
        <div class="header__inner">
           <a href="#" class="logo"><img src="./images/heros/logo4.png" alt="Logo Good Food"></a>
            <h1 class="header__title">
                GOOD FOOD
            </h1>
        </div>
        <button aria-label="Hamburger Button" id="hamburgerButton" class="header__menu">☰</button>
    </header>

    <nav id="navigationDrawer" class="nav">
        <ul class="nav__list">
            <li id="home" class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/like">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/yovanta-anjelina-125b621b2" target="_blank" rel="noopener">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero_jumbotron" style="background-image: linear-gradient(rgba(0,0,5,0.7), rgba(0,0,5,0.7)), url('./images/heros/hero-image_2.jpg')">
            <div class="hero__inner">
                <h2 class="hero__title">Ayo Cari Restoran Sehat yang ada di sekitarmu</h2>
                <p class="hero__tagline">Tetaplah sehat walau kondisi pandemi saat ini 
                    dengan selalu memakan makanan sehat yang bergizi!
                </p>
            </div>
        </div>
            <article class="headline">
                <figure class="headline__figure">
                    <picture>
                        <source media="(max-width: 600px)" srcset="./images/dirt-rally-20-small.jpg">        
                        <img src="./images/heros/food.jpg" alt="Healthy Food Fact">
                    </picture>
                    <figcaption>Good Food is Healthy Food</figcaption>
                </figure>
                <div class="headline__content">
                    <h3 class="headline__title">Restaurant : Healthy Food</h3>
                    <p class="headline__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                        facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                        asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                        nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero!!</p>
                    <button class="headline__button">Read More</button>
                </div>
            </article>
    </div>
    
    <main id="mainContent" tabindex="0">
        <div class="lds-facebook"><div></div><div></div></div>
    </main>

    <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/yovanta-anjelina-125b621b2">About Us</a></li>
        
        </ul>
        <p>Copyright &copy; 2021 - Good Food</p>
    </footer>
</body>
</html>
